.travel-box {
    font-size: 16px; /* Adjust text size */
    color: #fff; /* Text color */
}

.travel-box i {
    font-size: 20px; /* Adjust icon size */
}

.commute-time {
    font-weight: bold;
    margin-right: 10px;
}

.commute-label {
    font-weight: normal;
}
